# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.env

# Android
**/android/.gradle/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS
**/ios/Flutter/.last_build_id
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec

# IDE
.idea/
.vscode/
*.iml

# Misc
coverage/
*.log
